{% extends 'base.html' %}
{% block content %}
<h2>💬 Чат</h2>
<h2>Комната: {{ room_name }}</h2>
<p>Вы вошли как <b>{{ username }}</b></p>
<div id="chat-log" style="border:1px solid #ccc; height:300px; overflow-y:scroll; padding:10px;"></div>
<input id="chat-message-input" type="text" placeholder="Введите сообщение..." class="form-control">
<button id="chat-message-submit" class="btn btn-primary mt-2">Отправить</button>

<script>
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').innerHTML += ('<p><b>' + data.user + '</b>: ' + data.message + '</p>');
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({'message': message}));
        messageInputDom.value = '';
    };
</script>
{% endblock %}
